<footer class="footer">
  <div class="footer-container">

    <div class="footer-section">
      <div class="brand-wrapper">
        <img src="https://blueprint.the-tractor.store/cdn/img/neulandlogo.svg" alt="Neuland Logo" class="footer-logo">
        <div class="brand-text">
          <p>based on <a href="..." target="_blank">the tractor store 2.0</a></p>
          <p>a <a href="..." target="_blank">neuland</a> project</p>
        </div>
      </div>
    </div>

    <div class="footer-section">
      <h4 class="techstack-title">techstack</h4>
      <p class="techstack-list">
        ssr-only, modular monolith, template strings, esbuild, hono, cloudflare workers
      </p>
      <p>
        build by <strong>neuland</strong> / <a href="..." target="_blank">github</a>
      </p>
    </div>
  </div>
</footer>